#board{
    border: none;
}

#board-head{
    border: 5px solid gray;
    margin: 1px;
    padding: 2px;
}

.hole {
    height: 100px;
    width: 100px;;
    border: 5px solid gray;
    text-align: center;
    margin: 1px;
    
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hole:hover{
    background: #ddd;
}

.hole.start{
    background: #aaf;
}

.hole.active{
    background: #afa;
}

.hole.blind{
    background: #faa;
}

.player-info{
    height: 50%;
    padding: 10px;
    border: 5px solid gray;
    margin-left: 10px;
    margin-right: 10px;
}

.player-info.playing{
    background: #aaf;
}

.player-info h2,
.player-info h3,
.player-info h5 {
    text-align: center;
}